h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    Letter-spacing: 2px;
    color: #fff;
    display: flex
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono2 {
    width: 50px;
    height: 50px;

}

.icono2:hover {
    transition: 0s;
    fill: #0f0;
    filter: drop-shadow(0 0 200px #0f0);
}

.megacont {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
}

.text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cairo {
    content: '';
    width: 300px;
    height: 2px;
    background: #0f0;
    box-shadow: 0px -8px 0 #0f0,
        0px 8px 0 #0f0;
    transition: 8s ease;
    transition-delay: 0.5s;
}

@media (max-width: 500px) {
    .cairo {
        display: none;
    }

    .cosito {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.cosito {
    top: 50%;


}

.textito {
    text-indent: 40px;
    font-weight: 300;
    text-align: justify;
    max-inline-size: 50ch;
    margin-top: 20px;
}

.cositas {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

@media (max-width: 900px) {
    .cairo {
        width: 150px
    }

    .cosito {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cositas {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (max-width: 650px) {
    .cairo {
        width: 250px
    }

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cositas {
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .centrador {
        width: 250px;
    }
}

.centrador {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}